<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX STUDY</title>
</head>
<body>
    <button hx-post="/clicked" hx-swap="outerHTML">
        Click Me
    </button>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>

    <style>
        .smooth {
          transition: all 1s ease-in;
        }
    </style>
    <div id="color-demo" class="smooth" style="color:red"
            hx-get="http://localhost:4000/event/list" hx-swap="outerHTML" hx-trigger="click">
        Color Swap Demo
    </div>
    <div id="message" hx-swap-oob="true">Swap me directly!</div>
</body>
</html>